* {
  margin: 10px 10px;
  border: 2px solid gray;
  display: inline-block;
  background-color: yellow;
}
message {
  display: block;
  text-align: center;
}
button {
  background-color: black;
  color: whitesmoke;
}
